.scroll{
    &::-webkit-scrollbar{
        width: 4px;
        height: 4px;
    }
    &::-webkit-scrollbar-thumb{
        border-radius: 5px;
        -webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.2);
        box-shadow:inset 0 0 5px rgba(0,0,0,0.2);
        background: rgba(0,0,0,0.2);
    }
    &::-webkit-scrollbar-track{
        -webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.2);
        box-shadow:inset 0 0 5px rgba(0,0,0,0.2);
        border-radius: 0;
        background: rgba(0,0,0,0.1)
    }
}
.clear{
    &:before, &:after{
        display: table;
        content: " ";
    }
    &:after{
        clear: both;
    }
}
.mb{
  margin-bottom: 20px;
}
.zyw-panel{
  color: #5f7676;
  .el-card__header{
    font-size: 14px;
    color: #93a8a8;
    background-color: #fafbfc;
    border-bottom-color: #dadfe3;
    font-weight: bold;
  }
  .panel-tools{
    a{
      cursor: pointer;
      &:hover{color: #444;}
    }
  }
}
.text-title{
  font-size: 16px;
  line-height: 1.42;
  color: #5f7676;
  font-weight: bold;
  margin-bottom: 10px;
}
.text-desc{
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 10px;
}
