
@mixin theme($theme-name, $frame-nav-bgc, $frame-nav-borc, $menu-bgc, $menu-fontc, $menu-item-bgc_active, $menu-item-bgc_hover, $menu-item-fontc_active) {
  [nav-theme='#{$theme-name}'] {
    .frame-nav{
      background: $frame-nav-bgc;
      border-right: 1px solid $frame-nav-borc;
      overflow-x: hidden;
      @extend .scroll;
      .el-menu{
        background: $menu-bgc;
        color: $menu-fontc;
        border-right: none;
        .el-menu-item, .el-submenu__title{
          color: $menu-fontc;
          i{color: inherit;}
          &.is-active{
            background: $menu-item-bgc_active;
            color: $menu-item-fontc_active;
          }
          &:hover{
            background: $menu-item-bgc_hover;
            &.is-active{
              background: $menu-item-bgc_active;
              color: $menu-item-fontc_active;
            }
          }
        }
        .el-menu-item, .el-submenu{
          [class^=fa]{
            vertical-align: middle;
            margin-right: 5px;
            width: 24px;
            text-align: center;
            font-size: 18px;
          }
        }
      }
    }
  }
}

@each $theme-name, $frame-nav-bgc, $frame-nav-borc, $menu-bgc, $menu-fontc, $menu-item-bgc_active, $menu-item-bgc_hover, $menu-item-fontc_active in $nav-theme {
  @include theme($theme-name, $frame-nav-bgc, $frame-nav-borc, $menu-bgc, $menu-fontc, $menu-item-bgc_active, $menu-item-bgc_hover, $menu-item-fontc_active);
}
