$frame-head-bgc:#314040;
$frame-head-fontc:#5f7676;
$frame-head-fontc_hover:#fff;
$head-user-bgc_hover:#fff;
$head-user-fontc_hover:#fff;
$head-tool-bgc:#fff;
$head-tool-fontc:#93a8a8;


$frame-nav-bgc:#f0f4f6;
$frame-nav-borc:#dadfe3;
$menu-bgc:transparent;
$menu-fontc:#5f7676;
$menu-item-bgc_active:#95a5a6;
$menu-item-bgc_hover:#f5f8f9;
$menu-item-fontc_active:#fff;


$frame-main-bgc:#f2f6f8;
$frame-breadcrumb-bgc:#e5ebee;
$frame-breadcrumb-fontc:#5f7676;
$frame-foot-bgc:#e5ebee;

