//头部
$frame-head-bgc:#fff;
$frame-head-fontc:#5f7676;
$frame-head-fontc_hover:#505050;
$frame-head-logo-fontc:#444;
$frame-head-float-fontc:#9d9d9d;
$head-user-bgc_hover:#fff;
$head-user-fontc_hover:#505050;
$head-tool-bgc:#a7a7a7;
$head-tool-fontc:#5f7676;

$frame-head2-bgc:#314040;
$frame-head2-fontc:#5f7676;
$frame-head2-fontc_hover:#fff;
$frame-head2-logo-fontc:#ececc6;
$frame-head2-float-fontc:#ececc6;
$head2-user-bgc_hover:#fff;
$head2-user-fontc_hover:#fff;
$head2-tool-bgc:#fff;
$head2-tool-fontc:#93a8a8;

$frame-head3-bgc:#2f4356;
$frame-head3-fontc:#90a9c1;
$frame-head3-fontc_hover:#fff;
$frame-head3-logo-fontc:#99a5b1;
$frame-head3-float-fontc:#99a5b1;
$head3-user-bgc_hover:#000;
$head3-user-fontc_hover:#fff;
$head3-tool-bgc:#fff;
$head3-tool-fontc:#90a9c1;

$frame-head4-bgc:#217dbb;
$frame-head4-fontc:#a0cfee;
$frame-head4-fontc_hover:#cce5f6;
$frame-head4-logo-fontc:#e2ecf7;
$frame-head4-float-fontc:#83b0e2;
$head4-user-bgc_hover:#043463;
$head4-user-fontc_hover:#cce5f6;
$head4-tool-bgc:#fff;
$head4-tool-fontc:#a0cfee;

$frame-head5-bgc:#35aca2;
$frame-head5-fontc:#ade6e1;
$frame-head5-fontc_hover:#d4f2ef;
$frame-head5-logo-fontc:#defffc;
$frame-head5-float-fontc:#defffc;
$head5-user-bgc_hover:#000;
$head5-user-fontc_hover:#d4f2ef;
$head5-tool-bgc:#fff;
$head5-tool-fontc:#ade6e1;

$frame-head6-bgc:#e05b39;
$frame-head6-fontc:#f6d1c8;
$frame-head6-fontc_hover:#fff;
$frame-head6-logo-fontc:#f9ddd5;
$frame-head6-float-fontc:#f9ddd5;
$head6-user-bgc_hover:#000;
$head6-user-fontc_hover:#fff;
$head6-tool-bgc:#fff;
$head6-tool-fontc:#f6d1c8;

$frame-head7-bgc:#7a869c;
$frame-head7-fontc:#4d5463;
$frame-head7-fontc_hover:#4a556b;
$frame-head7-logo-fontc:#dfe3ea;
$frame-head7-float-fontc:#9fa9bb;
$head7-user-bgc_hover:#000;
$head7-user-fontc_hover:#9fa9bb;
$head7-tool-bgc:#fff;
$head7-tool-fontc:#6e798e;

$frame-head8-bgc:#9b59b6;
$frame-head8-fontc:#7a08ab;
$frame-head8-fontc_hover:#8c49a9;
$frame-head8-logo-fontc:#fff;
$frame-head8-float-fontc:#d39cea;
$head8-user-bgc_hover:#000;
$head8-user-fontc_hover:#bb7cd6;
$head8-tool-bgc:#fff;
$head8-tool-fontc:#8c49a9;

$frame-head9-bgc:#6c57ae;
$frame-head9-fontc:#cec7e4;
$frame-head9-fontc_hover:#fff;
$frame-head9-logo-fontc:#cebeff;
$frame-head9-float-fontc:#cebeff;
$head9-user-bgc_hover:#000;
$head9-user-fontc_hover:#fff;
$head9-tool-bgc:#fff;
$head9-tool-fontc:#cec7e4;



//侧边栏
$frame-nav-bgc:#f0f4f6;
$frame-nav-borc:#dadfe3;
$menu-bgc:transparent;
$menu-fontc:#5f7676;
$menu-item-bgc_active:#95a5a6;
$menu-item-bgc_hover:#f5f8f9;
$menu-item-fontc_active:#fff;

$frame-nav2-bgc:#313e3e;
$frame-nav2-borc:transparent;
$menu2-bgc:transparent;
$menu2-fontc:#93a8a8;
$menu2-item-bgc_active:#95a5a6;
$menu2-item-bgc_hover:#354242;
$menu2-item-fontc_active:#fff;

$frame-nav3-bgc:#2f4356;
$frame-nav3-borc:transparent;
$menu3-bgc:transparent;
$menu3-fontc:#90a9c1;
$menu3-item-bgc_active:#5f82a6;
$menu3-item-bgc_hover:#34495e;
$menu3-item-fontc_active:#fff;

$frame-nav4-bgc:#217dbb;
$frame-nav4-borc:transparent;
$menu4-bgc:transparent;
$menu4-fontc:#b6daf2;
$menu4-item-bgc_active:#64b0e3;
$menu4-item-bgc_hover:#2282c1;
$menu4-item-fontc_active:#fff;

$frame-nav5-bgc:#35aca2;
$frame-nav5-borc:transparent;
$menu5-bgc:transparent;
$menu5-fontc:#d7f7f4;
$menu5-item-bgc_active:#65bcb4;
$menu5-item-bgc_hover:#5cb5aa;
$menu5-item-fontc_active:#fff;

$frame-nav6-bgc:#e05b39;
$frame-nav6-borc:transparent;
$menu6-bgc:transparent;
$menu6-fontc:#f6d0c6;
$menu6-item-bgc_active:#eea491;
$menu6-item-bgc_hover:#e16040;
$menu6-item-fontc_active:#fff;

$frame-nav7-bgc:#7a869c;
$frame-nav7-borc:transparent;
$menu7-bgc:transparent;
$menu7-fontc:#d2d6dd;
$menu7-item-bgc_active:#a6aebd;
$menu7-item-bgc_hover:#7e8a9f;
$menu7-item-fontc_active:#fff;

$frame-nav8-bgc:#9b59b6;
$frame-nav8-borc:transparent;
$menu8-bgc:transparent;
$menu8-fontc:#efd0f5;
$menu8-item-bgc_active:#8e11c3;
$menu8-item-bgc_hover:#a564c1;
$menu8-item-fontc_active:#fff;

$frame-nav9-bgc:#6c57ae;
$frame-nav9-borc:transparent;
$menu9-bgc:transparent;
$menu9-fontc:#ccc5e3;
$menu9-item-bgc_active:#a194cb;
$menu9-item-bgc_hover:#705db1;
$menu9-item-fontc_active:#fff;
